---
import Layout from '../layouts/Layout.astro';
import HeroSection from "../components/HeroSection.astro";
import AboutSection from "../components/AboutSection.astro";
import WorkSection from "../components/WorkSection.astro";
import ContactSection from '../components/ContactSection.astro';
import Footer from "../components/Footer.astro";
---

<Layout title="Carlos Exojo">
  <main>
    <HeroSection />
    <AboutSection /> 
    <WorkSection />
    <ContactSection />
    <Footer />
  </main>
</Layout>
