---
import WorkingExperiences from "./WorkingExperiences.astro"
import Studies from "./Studies.astro"
import TechStack from "./TechStack.astro";
---

<section id="about" class="section bg-bgLight dark:bg-bgDark ">
  <h2 class="sectionTitle">About</h2>
  <p class="accent text-3xl">.</p>
  <p class="text-gray-200 mt-2 md:text-lg">Howdy! My name is Carlos Exojo, a 22-year-old technology enthusiast from Barcelona. Recently, I graduated in Computer Engineering at UPC, where I specialized in software engineering, and since then, I've been focused on the exciting world of web development. I am constantly exploring new technologies, with the goal of growing and evolving as a professional day by day. Welcome to my portfolio.</p>
  <WorkingExperiences />
  <Studies />
  <TechStack />
</section>