---

---

<section class="bg-slate-300 p-10">
  <h2>About</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque consectetur culpa corporis quis ea odit perferendis, assumenda tempore impedit tenetur accusantium aperiam esse odio fugit a necessitatibus quidem numquam enim.</p>
  <h3>Education</h3>
  <ul>
    <li>Universitat politecnica de Catalunya</li>
  </ul>
</section>