<footer class="flex justify-center p-4 bg-[#000814]">
  <p class="text-white font-medium">
    Made with ❤️ by
    <a href="https://github.com/carlosexojogavilan" class="underline decoration-1 decoration-primary underline-offset-2">Carlos Exojo</a>
  </p>
</footer>