<div class="w-6 h-6 flex flex-col justify-around cursor-pointer">
  <div class="w-6 h-[2px] rounded-lg bg-white"></div>
  <div class="w-6 h-[2px] rounded-lg bg-white"></div>
  <div class="w-6 h-[2px] rounded-lg bg-white"></div>
</div>

