---
import Nav from "./Nav.jsx";
---

<header class="fixed w-full h-20 flex justify-between items-center px-10 border-b border-b-primary backdrop-blur">
  <div>
    <p class="inline text-primary font-semibold text-xl">&#60;</p>
    <p class="inline text-white font-semibold text-xl md:text-2xl tracking-tight">CarlosExojo</p> 
    <p class="inline text-primary font-semibold text-xl"> /&#62;</p>
  </div>
  <Nav client:visible />
</header>