---
import HamburgerMenu from "./HamburgerMenu.astro";
import Nav from "./Nav.jsx";
import ThemeToggler from "./ThemeToggler.astro";
---

<header class="fixed z-10 w-full h-20 flex justify-between items-center px-10 md:px-20 border-b border-b-primary backdrop-blur">
  <div>
    <p class="accent text-xl md:text-2xl">&#60;</p>
    <a href="#home" class="title font-black">CarlosExojo</a> 
    <p class="accent text-xl md:text-2xl"> /&#62;</p>
  </div>
  <div class="flex items-center gap-6 md:gap-8">
    <Nav client:visible>
      <HamburgerMenu  slot="hamburger-menu" />
      <ThemeToggler slot="theme-toggler" />
    </Nav>
  </div>
</header>