<section
  class="h-screen flex flex-col justify-center items-center gap-8 bg-hero-dark"
  id="home"
>
  <img
    src="./assets/images/foto_carnet.jpg"
    class="w-60 md:w-72 select-none max-w-full h-auto"
  ></img>
  <div class="text-center">
    <p class="text-white text-xl md:text-2xl xl:text-3xl">
      Hi, I'm Carlos 👋
    </p>
    <h2 class="text-2xl scale-110 sm:scale-100 sm:text-3xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-primary to-[#FF9800] md:text-4xl xl:text-5xl tracking-tighter background-animate">
      Front-End Developer
    </h2>
    <p class="text-white text-xl md:text-2xl xl:text-3xl">
      Welcome to my web portfolio
    </p>
    <div class="mt-4 flex gap-4 justify-between md:justify-center">
      <a href="./assets/CV_CarlosExojo.pdf" target="_blank" rel="no-opener" class="btn text-white font-light flex items-center gap-2">
        Resume
        <img src="./assets/icons/cv-icon.svg"></img>
      </a>
      <a href="#work" class="btn text-white font-light flex items-center gap-2 bg-gradient-to-r from-primary to-[#FF9800]">
        Portfolio
        <img src="./assets/icons/right-arrow-icon.svg"></img>
      </a>
    </div>
  </div>
</section>
