---
---

<section class="min-h-screen flex flex-col justify-center items-center gap-8">
  <img src="../../public/vicky-hladynets-C8Ta0gwPbQg-unsplash.jpg" class="w-60 md:w-72 select-none max-w-full h-auto">
  <div class="text-center">
    <p class="text-white text-xl md:text-2xl xl:text-3xl">Hi, I'm Carlos 👋</p>
    <h2 class="text-2xl scale-110 sm:scale-100 sm:text-3xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-primary to-[#FFC300] md:text-4xl xl:text-5xl tracking-tighter">Front-End Developer</h2>
    <p class="text-white text-xl md:text-2xl xl:text-3xl">Welcome to my web portfolio</p>
    <div class="mt-4 flex gap-4 justify-center">
      <button class="border-2 border-primary px-4 py-2 text-white font-light rounded-lg flex items-center gap-2">
        Resume
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-cv text-white" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M14 3v4a1 1 0 0 0 1 1h4" />
          <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
          <path d="M11 12.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0" />
          <path d="M13 11l1.5 6l1.5 -6" />
        </svg>
      </button>
      <button class="border-2 border-primary px-4 py-2 text-white font-light rounded-lg flex items-center gap-2 bg-gradient-to-r from-primary to-[#FFC300]">
        Portfolio
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-badge-right-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M7 6l-.112 .006a1 1 0 0 0 -.669 1.619l3.501 4.375l-3.5 4.375a1 1 0 0 0 .78 1.625h6a1 1 0 0 0 .78 -.375l4 -5a1 1 0 0 0 0 -1.25l-4 -5a1 1 0 0 0 -.78 -.375h-6z" stroke-width="0" fill="currentColor" />
        </svg>
      </button>
  </div>
  </div>
</section>