---
import TechStackItem from "./TechStackItem.astro";
const technologies = [
  {
    fileName: "html-5-svgrepo-com.svg",
    techName: "HTML"
  },
  {
    fileName: "css-3-svgrepo-com.svg",
    techName: "CSS"
  },
  {
    fileName: "tailwind-svgrepo-com.svg",
    techName: "Tailwind"
  },
  {
    fileName: "sass-svgrepo-com.svg",
    techName: "Sass"
  },
  {
    fileName: "js-svgrepo-com.svg",
    techName: "JavaScript"
  },
  {
    fileName: "react-svgrepo-com.svg",
    techName: "React"
  },
  {
    fileName: "astro-svgrepo-com.svg",
    techName: "Astro"
  },
  {
    fileName: "git-svgrepo-com.svg",
    techName: "Git"
  },
  {
    fileName: "jest-snapshot-svgrepo-com.svg",
    techName: "Jest"
  }
]
---

<h3 class="mt-8 mb-4 text-xl text-white font-bold tracking-tighter">Tech Stack:</h3>
<div class="flex justify-center md:justify-start flex-wrap gap-6">
  {technologies.map(technology => {
    return <TechStackItem fileName={technology.fileName} techName={technology.techName} />
  })}
</div>
