---
import AboutWorkCard from "./AboutWorkCard.astro"
---

<div class="flex flex-col gap-3">
  <h3 class="text-xl text-white font-bold tracking-tighter mt-8">Working Experience:</h3>
  <div class="flex flex-col gap-4">
    <AboutWorkCard jobRole="Front-End Developer" company="Capgemini" period="February 2023 - July 2023" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, placeat earum. Praesentium minus aut aperiam ipsam consequatur harum facilis cumque, quo beatae est. Ut, culpa provident? Veritatis ea sint eos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, neque perferendis possimus ullam minus ad vitae ipsam, facere sint voluptates error distinctio assumenda animi excepturi consectetur est non ipsa magnam." />
    <AboutWorkCard jobRole="Salesforce Developer" company="Konozca Consulting" period="Sept 2022 - February 2023" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, placeat earum. Praesentium minus aut aperiam ipsam consequatur harum facilis cumque, quo beatae est. Ut, culpa provident? Veritatis ea sint eos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, neque perferendis possimus ullam minus ad vitae ipsam, facere sint voluptates error distinctio assumenda animi excepturi consectetur est non ipsa magnam." />
  </div>
</div>